.App {
  text-align: center;
  display: flex;
}

.App-link {
  color: #61dafb;
}

.App h1 {
  color: white;
}

.App table {
  width: 100%;
}

.App table tr:nth-child(even) {
  background-color: #CCCCCCCC
}

.App table tr:nth-child(odd) {
  background: #FFFFFFCC
}

.new-game {
  width: 100%;
  background-color: cadetblue;
}

.active-games {
  width: 100%;
  background-color: coral;
}

*.active-games table td:last-child {
  width: 100%;
}

.closed-games {
  width: 100%;
  background-color: darkolivegreen;
}
